body {
    width: 100%;
    height: 100%;
    margin: 0 0;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
}

@media screen and (orientation: landscape) {
    body {
        background-image: url("../Images/bckg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #loginbody {
        width: 40%;
        height: 60vmin;
        background-color: rgba(97, 97, 97, 0.7);
        border: 1px solid white;
        border-radius: 1.5vmin;
        padding: 2%;
    }

    #lgned {
        width: 100%;
        height: 10%;
        font-size: 2.6vw;
        margin: 2% 0 10% 0;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        overflow: hidden;
        text-align: center;
    }

    #logbtn {
        width: 12vw;
        height: 100%;
        font-size: 1.7vw;
    }
}

@media screen and (orientation: portrait) {
    body {
        background-image: url("../Images/bckg_m.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #loginbody {
        width: 80%;
        height: 65vmin;
        background-color: rgba(97, 97, 97, 0.7);
        border: 1px solid white;
        border-radius: 1.5vmin;
        padding: 2%;
    }

    #lgned {
        width: 100%;
        height: 10%;
        font-size: 4.5vw;
        margin: 2% 0 10% 0;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        overflow: hidden;
        text-align: center;
    }

    #username input, #password input {
        font-size: 3vw;
    }

    #logbtn {
        width: 25%;
        height: 100%;
        font-size: 3vw;
    }
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#username input, #password input {
    width: 100%;
    height: 17%;
    border: 2px solid black;
    border-radius: 5.0vmin;
    padding-left: 7%;
    margin: 0.5% 0 0.5% 0;
}

#login-lower {
    position: relative;
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#logbtn {
    position: relative;
    top: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5.0vmin;
    background-color: white;
    transition: color 0.5s, transform 0.4s, background-color 0.4s;
}

#logbtn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.0);
    transform: scale(1.1);
}